# General
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp
*~.nib
.project
.metadata
.gradle

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/
.ionide/

# Environment variables and secrets
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production
.env.staging

# Frontend
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build
frontend/dist
frontend/dist-ssr
frontend/storybook-static
frontend/.next/
frontend/out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
*.local

# Backend
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/env/
backend/.env
backend/venv/
backend/.venv
backend/ENV/
backend/env.bak/
backend/venv.bak/
backend/.pytest_cache/
backend/pytest.ini
backend/.coverage
backend/htmlcov/
backend/.tox/
backend/nosetests.xml
backend/coverage.xml
backend/*.cover

# API keys and secrets
backend/secrets.yaml

# Database
*.sqlite3
*.db

# Infrastructure
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terragrunt-cache/
.serverless/
node_modules/
.aws-sam/

# Documentation
docs/_build/

# Docker
docker-volume/

# Project specific
.trae/

# Temporary files
tmp/
temp/